@layer base {
  @font-face{
    font-family: 'Rubik';
    src: url('./../assets/fonts/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');
  }
  body {
    @apply min-h-screen font-rubik antialiased leading-tight bg-nord4 text-nord7 dark:bg-nord0 selection:text-nord0 selection:bg-nord7 selection:rounded;
  }
  

  [placeholder]:empty::before {
    content: attr(placeholder);
    @apply text-nord7 opacity-50;
}

[placeholder]:empty:focus::before {
    content: "";
}
button{
  @apply text-nord2;
}
}
