@layer components {
  /* Box
-----------------------------------------------------------------------*/
  .box {
    display: block;
    padding: var(--padding);
    border-width: var(--border-thick);
    border: var(--border-thick) solid;
    /* ↓ For shigh contrast mode */
    outline: var(--border-thick) solid transparent;
    outline-offset: calc(var(--border-thick) * -1);
  }
}
